<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://10.188.146.128:5432/AdventureWorks</property>
        <property name="hibernate.connection.username">northwind</property>
        <property name="hibernate.connection.password">northwind</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapping files or annotated classes -->
        <!-- <mapping class="com.example.YourEntityClass"/> -->
        <mapping class="edu.AGa.hibernate.Product" />
    </session-factory>
</hibernate-configuration>